.card-block {
    width: 31%;
    float: left;
    margin: 1%;
    background-color: #363B5F !important;
    cursor: pointer;    

}
.card-block:hover {
    background-color: #5b6187  !important;
}

.card-button {
    width: 100%;
    background-color: #000;
}