.card-info {
    background-color: #5b6187 !important;    
    margin: 30px;
    cursor: pointer;
    min-height: 150px;
    text-align: left;
}
  
// .card-info:hover {
//     background-color: #5b6187 !important;
// }