.card-group>.card {
    background-color: #363B5F;    
    margin: 30px;
    cursor: pointer;
    min-height: 250px;
}
  
.card-group>.card:hover {
    background-color: #5b6187;
}

.home-cards {
    position: relative;
}

.home-cards-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

